#arrows{
	width: 170px;
	height: 180px;
	padding: 8px 0;
	display: inline-block;
	vertical-align: top;
	}

	.triangle-up { 
		width: 0; 
		height: 0; 
		border-left: 27px solid transparent; 
		border-right: 27px solid transparent; 
		border-bottom: 50px solid red; 
		position: relative;
		top: 0;
		margin: auto;
		}

	.triangle-down { 
		width: 0; 
		height: 0; 
		border-left: 27px solid transparent; 
		border-right: 27px solid transparent; 
		border-top: 50px solid red; 
		position: relative;
		bottom: 0px;
		margin: auto;
		}


	#lr_arrows{
		width: 170px;
		height: 60px;
		padding: 10px 0 5px;
		}

		.triangle-left { 
			width: 0; 
			height: 0; 
			border-top: 27px solid transparent; 
			border-bottom: 27px solid transparent; 
			border-right: 50px solid red; 
			position: relative;
			left: 0;
			float: left;
			}


		.triangle-right { 
			width: 0; 
			height: 0; 
			border-top: 27px solid transparent; 
			border-bottom: 27px solid transparent; 
			border-left: 50px solid red; 
			position: relative;
			right: 0;
			float: right;
			}

#select_start{
	width:100px;
	padding: 8px 0;
	height: 130px;
	display: inline-block;
	vertical-align: top;
	padding-top: 72px;
	}
	
	.ss_button{
		font-size: 12px;
		font-family: Tahoma, Geneva, sans-serif;
		text-align: center;
		text-transform:uppercase;
		color: white;
		width:54px;
		background-color: blue;
		margin: 2px auto;
		padding: 3px ;
		vertical-align: middle;
		}

#circles{
	width: 170px;
	height: 190px;
	padding: 8px 0;
	display: inline-block;
	vertical-align: top;
	}

	
	
	.circle-up, .circle-down, .circle-left, .circle-right { 
		/*formats letters on circles*/
		font-size: 19px;
		margin: auto;
		font-family: Tahoma, Geneva, sans-serif;
		text-align: center;
		text-transform:uppercase;
		color: black;
		padding-top: 14px;

		/*formats shape*/
		width: 53px; 
		height: 39px; 
		background: yellow; 
		-moz-border-radius: 32px; 
		-webkit-border-radius: 32px; 
		border-radius: 32px;
		position: relative;
		}

	.circle-up, .circle-down { 
		margin: auto;
		}

	
	#lr_circles{
		width: 170px;
		height: 60px;
		padding: 5px 0 0 0;
		}
	
		.circle-left{ 
			float: left;
			}


		.circle-right { 
			float: right;
			}






.pressed {
	opacity: 0.5;
}

body {
	display: none;
}
