#arrows{
	width: 130px;
	height: 130px;
	padding: 8px 0;
	display: inline-block;
	}

	.triangle-up { 
		width: 0; 
		height: 0; 
		border-left: 20px solid transparent; 
		border-right: 20px solid transparent; 
		border-bottom: 40px solid red; 
		position: relative;
		top: 0;
		margin: auto;
		}

	.triangle-down { 
		width: 0; 
		height: 0; 
		border-left: 20px solid transparent; 
		border-right: 20px solid transparent; 
		border-top: 40px solid red; 
		position: relative;
		bottom: 0px;
		float: bottom;
		margin: auto;
		}


		#lr_arrows{
			width: 130px;
			height: 40px;
			padding: 5px 0;
			}

		.triangle-left { 
			width: 0; 
			height: 0; 
			border-top: 20px solid transparent; 
			border-bottom: 20px solid transparent; 
			border-right: 40px solid red; 
			position: relative;
			left: 0;
			float: left;
			}


		.triangle-right { 
			width: 0; 
			height: 0; 
			border-top: 20px solid transparent; 
			border-bottom: 20px solid transparent; 
			border-left: 40px solid red; 
			position: relative;
			right: 0;
			float: right;
			}


#select_start{
	width:80px;
	padding: 8px 0;
	height: 130px;
	display: inline-block;
	}
	
	.ss_button{
		font-size: 7px;
		font-family: Tahoma, Geneva, sans-serif;
		text-align: center;
		text-transform:uppercase;
		color: white;
		width:28px;
		background-color: blue;
		padding: 2px;
		margin: 2px;
		}

#circles{
	width: 130px;
	padding: 8px 0;
	height: 130px;	
	display: inline-block;
	}

	
	.circle-up, .circle-down { 
		width: 40px; 
		height: 30px; 
		background: yellow; 
		-moz-border-radius: 19px; 
		-webkit-border-radius: 19px; 
		border-radius: 19px;
		position: relative;
		margin: auto;

		/*formats letters*/
		font-size: 17px;
		font-family: Tahoma, Geneva, sans-serif;
		text-align: center;
		text-transform:uppercase;
		color: blackS;
		padding-top: 10px;
		}

	
	#lr_circles{
		width: 130px;
		height: 40px;
		padding: 5px 0;
		}

		.circle-left, .circle-right{ 
			width: 40px; 
			height: 40px; 
			background: yellow; 
			-moz-border-radius: 19px; 
			-webkit-border-radius: 19px; 
			border-radius: 19px;
			position: relative;
			left: 0;
			}
		
		.circle-left{ 
			float: left;
			}


		.circle-right { 
			float: right;
			}






.pressed {
	opacity: 0.5;
}